.imageboxes {

        width:100px;
        height:100px;
        position:fixed;
        bottom:0;
        z-index:1000;

}


.imageboxes#small {
        right:900px;
        background-color:#2F4F4F;
        border:solid white 2px;            
}

.imageboxes#medium {
        right:800px;
        background-color:#2F4F4F;
        border:solid white 2px;            
}

.imageboxes#large {
        right:700px;
        background-color:#2F4F4F;
        border:solid white 2px;            
}

.imageboxes#xlarge {
        right:600px;
        background-color:#2F4F4F;
        border:solid white 2px;
         
}


body.small .MainContent {
        width:320px !important;
        background-color:#8B2500;
        background-image:url(img/francisbacon.jpg);
}
body.medium .MainContent {
        width:640px !important;
        background-color:#808A87;
        background-image: url(img/Raft_of_the_Medusa.jpg);
          }
body.large .MainContent {
        width:960px !important;
        background-color:#C1CDC1;
        background-image: url(img/basqiatportraits.jpg);
}
body.xlarge .MainContent {
        width:100% !important;
        background-color:#CDCDC1;
        background-image: url(img/guernica.jpg);
}
